h3 {
	font-family: Georgia,sans-serif;
	color: #4E443C;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
	text-align: center;
}
div.container{
	text-align: center;
}