main.new-match {
  div.tab {
    margin-top: 40px;
  }

  div.checkbox {
    margin-top: 20px;
  }

  label.radio-label {
    margin-right: 20px;
  }

  div.center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
