main.team-list {
  div.custom-card {
    width: 100%;
    height: 50px;
  }

  div.spacer {
    height: 15px;
  }

  div.row.list {
    margin-top: 24px;
    margin-left: 15px;
    margin-right: 15px;
  }

  div.vert-align {
    display: flex;
    align-items: center;

    h6 {
      align-self: flex-start;
      margin-top: 18px;
    }
  }
}
