<template name="contact">
  {{>head}}

  <body>
    {{>header}}

    <main>
      <div class="container">
        <div class="section">
          <div class="col s12">
            <h3>Contact Us</h3>
          </div>
        </div>
        <hr>
        <div class="section">
          <p>Contact 
            <a href="mailto:logan@oflogan.com">Logan</a>
            to get an account.
          </p>
        </div>
        <div>
          <h6>
            <p>Contact us at 
            </p>
            <p>
              <a href="mailto:leadership@fremontrobotics.com">Email</a>
            </p>
            <p>
              <a href="https://www.facebook.com/team3501firebots?ref=br_tf">Facebook</a>
            </p>
            <p>
              <a href="https://www.youtube.com/channel/UCPZuKombbt5KCHR8Gli6kRg">Youtube</a>
            </p>
            <p>
               <a href="http://plus.google.com/101275549577842140892">Google +</a>
            </p>
          </h6>
        </div>
        <hr>
      </div>
    </main>

    {{>footer}}
  </body>
</template>