<template name="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col s6">
          <h5 class="white-text">3501</h5>
        </div>
        <div class="col s4 offset-s2">
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="https://gitlab.com/loganh/scouting/tree/master">Source Code</a></li>
          <li><a class="grey-text text-lighten-3" href="https://gitlab.com/loganh/scouting/blob/master/LICENSE.md">License</a></li>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2015 Fremont Robotics
        <a href="#" class="grey-text text-lighten-4 right">Contact Us</a>
      </div>
    </div>
  </footer>

</template>
