<template name="header">
  <header>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left side-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/match">View Match</a></li>
          <li><a href="/new">New Match</a></li>
        </ul>
        <ul id="nav-mobile" class="right side-nav">
          <li><a href="https://fremontrobotics.com">Main Site</a></li>
          <li><a href="https://app.fremontrobotics.com">Badge Site</a></li>
        </ul>
        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
  </header>
</template>
