<template name="home">
  {{>head}}

  <body>
    {{>header}}

    <main>
      <div class="row">
        <div class="col s6 offset-s3">
          <h1 align="center">Login</h1>
          <form action="">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="email" class="validate" autofocus>
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field col s12">
                    <input id="password" type="password" class="validate" autofocus>
                    <label for="password">Password</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="submit" value="Login" class="btn waves-effect waves-light btn">
                  </div>
                </div>
              </form>
            </div>
          </form>
        </div>
      </div>
    </main>
    {{>footer}}
  </body>
</template>
