<template name="matchView">
  {{>head}}

  <body>
    {{>header}}

    <main>
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content robot">
              <img src="https://s3-us-west-2.amazonaws.com/3501-training-2014-us-west-2/3501-cd.jpg" alt="robot pic">
              <h1>3501</h1>
              <p>Short team description?</p>
            </div>
            <div class="card-footer">
              <p>Footer</p>
              <p>Sample content</p>
              <p>Sample content</p>
              <a href="#" class="card-action">Link me!</a>
              <a href="#" class="card-action">Link me!</a>
            </div>
          </div>
        </div>
        <div class="col s12 m5 l8">
          <table class="striped">
            <thead>
              <tr>
                <th>Data 1</th>
                <th>Data 2</th>
                <th>Data 3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Info</td>
                <td>Swag</td>
                <td>Desu</td>
              </tr>
              <tr>
                <td>Say</td>
                <td>Hello</td>
                <td>Logan?</td>
              </tr>
              <tr>
                <td>Goodbye?</td>
                <td>I like</td>
                <td>Macroons</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    {{>footer}}
  </body>
</template>
