<template name="newMatch">
  {{>head}}

  <body>
    {{>header}}

    <main class="new-match">
      <form id="new-match">

        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s4"><a href="#prematch">Prematch</a>
              </li>
              <li class="tab col s4"><a href="#auton">Auton</a>
              </li>
              <li class="tab col s4"><a href="#teleop">Teleop</a>
              </li>
            </ul>
          </div>

          <div id="prematch" class="col s12 tab">
            <div class="row">
              <form class="col s12">
                <div class="row">

                  <div class="input-field col s6">
                    <input id="team_number" type="text" class="validate" autofocus>
                    <label for="team_number">Team Number</label>
                  </div>

                  <div class="input-field col s6">
                    <input id="match_number" type="text" class="validate">
                    <label for="match_number">Match Number</label>
                  </div>

                  <div class="col s6">
                    <label>Match Type</label>
                    <select id="match_type">
                      <option value="" disabled selected>Choose match type</option>
                      <option value="1">Practice</option>
                      <option value="2">Qualification</option>
                      <option value="3">Elimination</option>
                    </select>
                  </div>

                  <div class="col s6">
                    <div class="checkbox">
                      <input type="checkbox" id="noshow" />
                      <label for="noshow">Didn't show up</label>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>

          <div id="auton" class="col s12 tab">
            <div class="row">
              <div class="col s12">
                <div class="row">
                  <div class="col s4">
                    <p>Totes into auto zone</p>
                    <input type="radio" value="0" name="auton-totes" id="0t">
                    <label class="radio-label" for="0t">0 T</label>
                    <input type="radio" value="1" name="auton-totes" id="1t">
                    <label class="radio-label" for="1t">1 T</label>
                    <input type="radio" value="2" name="auton-totes" id="2t">
                    <label class="radio-label" for="2t">2 T</label>
                    <input type="radio" value="3" name="auton-totes" id="3t">
                    <label class="radio-label" for="3t">3 T</label>
                  </div>

                  <div class="col s4">
                    <div class="checkbox">
                      <input type="checkbox" id="stacked">
                      <label for="stacked">Stacked yellow totes in auto zone</label>
                    </div>
                  </div>

                  <div class="col s4">
                    <div class="checkbox">
                      <input type="checkbox" id="drive" />
                      <label for="drive">Drove into auto zone</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col s4">
                    <p>Containers into auto zone</p>
                    <input type="radio" value="0" name="auton-containers" id="0c">
                    <label class="radio-label" for="0c">0 C</label>
                    <input type="radio" value="1" name="auton-containers" id="1c">
                    <label class="radio-label" for="1c">1 C</label>
                    <input type="radio" value="2" name="auton-containers" id="2c">
                    <label class="radio-label" for="2c">2 C</label>
                    <input type="radio" value="3" name="auton-containers" id="3c">
                    <label class="radio-label" for="3c">3 C</label>
                  </div>

                  <div class="col s4">
                    <p>Containers from middle</p>
                    <input type="radio" value="0" name="auton-containers-middle" id="0m">
                    <label class="radio-label" for="0m">0 M</label>
                    <input type="radio" value="1" name="auton-containers-middle" id="1m">
                    <label class="radio-label" for="1m">1 M</label>
                    <input type="radio" value="2" name="auton-containers-middle" id="2m">
                    <label class="radio-label" for="2m">2 M</label>
                    <input type="radio" value="3" name="auton-containers-middle" id="3m">
                    <label class="radio-label" for="3m">3 M</label>
                    <input type="radio" value="4" name="auton-containers-middle" id="4m">
                    <label class="radio-label" for="4m">4 M</label>
                  </div>

                  <div class="input-field col s4">
                    <i class="mdi-editor-mode-edit prefix"></i>
                    <textarea id="auton_other_actions" class="materialize-textarea"></textarea>
                    <label>Other actions</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="teleop" class="col s12 tab">
            <div class="row">
              <div class="col s12">
                <div class="row">

                  <div class="col s4">
                    <p>Tote pickup speed</p>
                    <input type="radio" value="0" name="tote-speed" id="0ts">
                    <label class="radio-label" for="0ts">n / a</label>
                    <input type="radio" value="1" name="tote-speed" id="1ts">
                    <label class="radio-label" for="1ts">1 TS</label>
                    <input type="radio" value="2" name="tote-speed" id="2ts">
                    <label class="radio-label" for="2ts">2 TS</label>
                    <input type="radio" value="3" name="tote-speed" id="3ts">
                    <label class="radio-label" for="3ts">3 TS</label>
                    <input type="radio" value="4" name="tote-speed" id="4ts">
                    <label class="radio-label" for="4ts">4 TS</label>
                    <input type="radio" value="5" name="tote-speed" id="5ts">
                    <label class="radio-label" for="5ts">5 TS</label>
                  </div>

                  <div class="col s4">
                    <p>This robot participated in co-op</p>
                    <input type="radio" value="0" name="co-op" id="0cp">
                    <label class="radio-label" for="0cp">No points</label>
                    <input type="radio" value="1" name="co-op" id="1cp">
                    <label class="radio-label" for="1cp">Set</label>
                    <input type="radio" value="2" name="co-op" id="2cp">
                    <label class="radio-label" for="2cp">Stack</label>
                  </div>

                  <div class="col s4">
                    <p>Human player skill</p>
                    <input type="radio" value="0" name="human-skill" id="0hs">
                    <label class="radio-label" for="0hs">n / a</label>
                    <input type="radio" value="1" name="human-skill" id="1hs">
                    <label class="radio-label" for="1hs">1 HS</label>
                    <input type="radio" value="2" name="human-skill" id="2hs">
                    <label class="radio-label" for="2hs">2 HS</label>
                    <input type="radio" value="3" name="human-skill" id="3hs">
                    <label class="radio-label" for="3hs">3 HS</label>
                    <input type="radio" value="4" name="human-skill" id="4hs">
                    <label class="radio-label" for="4hs">4 HS</label>
                    <input type="radio" value="5" name="human-skill" id="5hs">
                    <label class="radio-label" for="5hs">5 HS</label>
                  </div>

                </div>


                <div class="row">
                  <div class="col s4">
                    <p>Container pickup speed</p>
                    <input type="radio" value="0" name="container-speed" id="0cs">
                    <label class="radio-label" for="0cs">n / a</label>
                    <input type="radio" value="1" name="container-speed" id="1cs">
                    <label class="radio-label" for="1cs">1 CS</label>
                    <input type="radio" value="2" name="container-speed" id="2cs">
                    <label class="radio-label" for="2cs">2 CS</label>
                    <input type="radio" value="3" name="container-speed" id="3cs">
                    <label class="radio-label" for="3cs">3 CS</label>
                    <input type="radio" value="4" name="container-speed" id="4cs">
                    <label class="radio-label" for="4cs">4 CS</label>
                    <input type="radio" value="5" name="container-speed" id="5cs">
                    <label class="radio-label" for="5cs">5 CS</label>
                  </div>

                  <div class="col s4">
                    <p>Robot speed and maneuverability</p>
                    <input type="radio" value="0" name="robot-speed" id="0rs">
                    <label class="radio-label" for="0rs">n / a</label>
                    <input type="radio" value="1" name="robot-speed" id="1rs">
                    <label class="radio-label" for="1rs">1 RS</label>
                    <input type="radio" value="2" name="robot-speed" id="2rs">
                    <label class="radio-label" for="2rs">2 RS</label>
                    <input type="radio" value="3" name="robot-speed" id="3rs">
                    <label class="radio-label" for="3rs">3 RS</label>
                    <input type="radio" value="4" name="robot-speed" id="4rs">
                    <label class="radio-label" for="4rs">4 RS</label>
                    <input type="radio" value="5" name="robot-speed" id="5rs">
                    <label class="radio-label" for="5rs">5 RS</label>
                  </div>

                  <div class="col s4">
                    <p>Containers from middle</p>
                    <input type="radio" value="0" name="teleop-containers-middle" id="0cm">
                    <label class="radio-label" for="0cm">n / a</label>
                    <input type="radio" value="1" name="teleop-containers-middle" id="1cm">
                    <label class="radio-label" for="1cm">1 CM</label>
                    <input type="radio" value="2" name="teleop-containers-middle" id="2cm">
                    <label class="radio-label" for="2cm">2 CM</label>
                    <input type="radio" value="3" name="teleop-containers-middle" id="3cm">
                    <label class="radio-label" for="3cm">3 CM</label>
                    <input type="radio" value="4" name="teleop-containers-middle" id="4cm">
                    <label class="radio-label" for="4cm">4 CM</label>
                  </div>

                </div>

                <div class="row">
                  <div class="input-field col s4 offset-s4">
                    <i class="mdi-editor-mode-edit prefix"></i>
                    <textarea id="teleop_other_actions" class="materialize-textarea"></textarea>
                    <label>Other actions</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s4 offset-s4 center">
            <input type="submit" value="Submit match" class="btn">
          </div>
        </div>

      </form>
    </main>

    {{>footer}}
  </body>
</template>
