<template name="register">
  {{>head}}

  <body>
    {{>header}}

    <main>
      <div class="row">
        <div class="col s8 offset-s2">
           <h2>Register a New User</h2>
        </div>
      </div>

      <div class ="row">
        <div class="col s8 offset-s3">
          <h5>Fill in the user's information:</h5>
        </div>
      </div>

      <div class="row">
        <div class="col s6 offset-s3">
          <form action="">
            <input type="text" name="first_name" placeholder ="First Name" autofocus>
            <input type="text" name="last_name" placeholder ="Last Name">
            <input type="email" placeholder="you@example.com">
            <input type="submit" value="Register" class="btn floating">
          </form>
        </div>
      </div>
    </main>

    {{>footer}}
  </body>
</template>
