<template name="teamList">
  {{>head}}

  <body>
    {{>header}}

    <main class="team-list">
      <div class="row list">
        <div class="col s12">

          <div class="row">
            <div class="col s3">
              <h5>Number</h5>
            </div>
            <div class="col s3">
              <h5>Name</h5>
            </div>
            <div class="col s3">
              <h5>Mascot</h5>
            </div>
            <div class="col s3">
              <h5>Fire</h5>
            </div>
          </div>

          {{#each teams}}
            {{> team}}
          {{/each}}

        </div>
      </div>
    </main>

    {{>footer}}
  </body>
</template>

<template name="team">
  <div class="row custom-card z-depth-1">
    <div class="col s3 vert-align">
      <h6>{{number}}</h6>
    </div>
    <div class="col s3 vert-align">
      <h6>{{name}}</h6>
    </div>
    <div class="col s3 vert-align">
      <h6>{{mascot}}</h6>
    </div>
    <div class="col s3 vert-align">
      <h6>{{fire_level}}%</h6>
    </div>
  </div>
</template>
